<% content_for :js do %>
  <%= javascript_import_module_tag "show" %>
<% end %>
                      <div class="card-header text-center">
                          <div class=" bg-iscopy-c text-white rounded-5">
                              <i class="fa-solid fa-book">    旅の記録</i>
                          </div>
                      </div>
                      <div class="card-body">
                        <table class="border-secodary">
                          <thead>
                                  <tr>
                                      <th>都道府県</th>
                                      <th>旅先</th>
                                      <th>内容</th>
                                      <th>開始日</th>
                                      <th>終了日</th>
                                      <th>詳細・編集</th>
                                  </tr>
                          </thead>
                              <%# <tbody id="record-pagenate"> %>
                              <tbody id="pagenate">
                                <% @records_page.each  do |record|%>
                                    <tr>
                                        <td><%=record.prefecture.name%></td>
                                        <td><%=record.destination%></td>
                                        <td><%=record.text%></td>
                                        <%if record.start_date%>
                                            <td><%=record.start_date%></td>
                                        <%else%>
                                            <td>未定</td>
                                        <%end%>
                                        <%if record.end_date%>
                                            <td><%=record.end_date%></td>
                                        <%else%>
                                            <td>未定</td>
                                        <%end%>
                                        
                                        <td><a href="<%=edit_record_path(record.id)%>"><i class='fa-solid fa-pen-to-square'></i></a></td>
                                    </tr>
                                <%end%>
                                <%if @records.count == 0 %>
                                    <tr>
                                        <td colspan="6" class="text-center">まだ記録がありません</td>
                                    </tr>
                                <%end%>

                              </tbody>
                            </table>
                          <div class="add_record">
                              <a href="<%=new_record_path%>">
                              <i class="fa-regular fa-square-plus"></i></a>
                          </div> 
                          </div>
                   


