                            <div class="card-header text-center">
                                <div class=" bg-iscopy-b text-white rounded-5">
                                    <i class="fa-solid fa-calendar-days">    計画一覧</i>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table-with-pagination plan border-secodary">
                                    <thead>
                                        <tr>
                                            <th>都道府県</th>
                                            <th>目的地</th>
                                            <th>内容</th>
                                            <th>開始日</th>
                                            <th>終了日</th>
                                            <th>詳細・編集</th>
                                        </tr>
                                    </thead>
                                    <tbody id="pagenate_plan">
                                        <% @plans_page.each do |plan|%>
                                            <tr>
                                                <td><%=plan.prefecture.name%></td>
                                                <td><%=plan.destination%></td>
                                                <td><%=plan.text%></td>
                                                <%if plan.start_date%>
                                                <td><%=plan.start_date%></td>
                                                <%else%>
                                                <td>未定</td>
                                                <%end%>
                                                <%if plan.end_date%>
                                                    <td><%=plan.end_date%></td>
                                                <%else%>
                                                    <td>未定</td>
                                                <%end%>
                                                <td><a href="<%=edit_plan_path(plan.id)%>"><i class='fa-solid fa-pen-to-square'></i></a></td>
                                            </tr> 
                                        <%end%>
                                        <%if @plans.count == 0 %>
                                            <tr>
                                                <td colspan="6" class="text-center">まだ計画がありません</td>
                                            </tr>
                                        <%end%>
                                    </tbody>

                                </table>
                                                                <div class="pagination plan"><%= paginate @plans_page, remote: true, param_name: 'plan_page' %></div>

                                <div class="add_plan">
                                   <a href="<%=new_plan_path%>">
                                    <i class="fa-regular fa-square-plus"></i></a>
                                </div>
                            </div>
