<% content_for :js do %>
  <%= javascript_import_module_tag "appmap" %>
<% end %>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                    <%# svg日本地図 %>
                    <div class="map" id="map" data-pref-codes="<%= @pref.to_json.html_safe %>" data-rec-codes="<%= @pref_rec.to_json.html_safe %>"></div>
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light"><%= @nickname %>さんの旅 マイページ</h1>
                    <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                    <%= link_to "計画を登録する!", new_plan_path, class:"btn btn-primary" %>
                    <%= link_to "計画のない旅を記録する!", new_record_path, class:"btn btn-primary" %>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">計画や記録を登録するには地図をクリック！</p></div>
            </div>
 

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                計画一覧
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>アイコン</th>
                                            <th>スポット</th>
                                            <th>所在地</th>
                                            <th>住所</th>
                                            <th>写真</th>
                                            <th>編集</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><i class="fa-solid fa-burger"></i></td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td><i class="fa-solid fa-pen-to-square"></i></td>
                                        </tr> 
                                        <tr>
                                            <td><i class="fa-solid fa-camera"></i></td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td><i class="fa-solid fa-pen-to-square"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="add_plan">
                                <i class="fa-regular fa-square-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                旅の記録
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="add_record">
                                <i class="fa-regular fa-square-plus"></i>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
<%# <div>
  <%= button_to '認証する', @authorization_url %>
<%# </div> %> 