<% content_for :js do %>
  <%= javascript_import_module_tag "appmap" %>
  <%= javascript_import_module_tag "show" %>
<% end %>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                    <%# svg日本地図 %>
                    <div class="map" id="map" data-pref-codes="<%= @pref_has_plan.to_json.html_safe %>" data-rec-codes="<%= @pref_has_record.to_json.html_safe %>"></div>
                </div>
                <div class="col-lg-5">
                    <h3 class="h3 font-weight-light mb-5">マイページTOP画面</h3>

                    <div class=" bg-primary bg-gradient text-white rounded-5 mb-3 text-center ">
                        <%# <i class="fa-solid fa-id-card h4"></i> %>
                        <%= @nickname %> さんがログイン中…
                    </div>
                    <%# <div class="my-2"><%= link_to "ユーザー情報変更", "", class:"btn btn-secondary" %>
                    <div class="py-5">
                        <ul>
                        <li><p>日本地図で【これまでにあなたが訪れた場所】・【これから行きたい場所】・【行ったことあるけどもう一度行きたい場所】を確認できます</p>
                        <li><p>都道府県をクリックすると各都道府県のページへジャンプします</p>
                        <li><p>スポット登録は各都道府県のページから</p>
                        <%# <li><p>47都道府県制覇まで、あと〇〇県！！</p> %>
                        </ul>
                        <div class="my-2"><%= link_to "計画を登録する", new_plan_path, class:"btn btn-primary" %></div>
                        <div class="my-2"><%= link_to "旅を記録する", new_record_path, class:"btn btn-primary" %></div>
                        <%# <div class="my-2"><%= link_to "全国の登録スポット", "", class:"btn btn-secondary" %>
                    </div>
                </div>
                <!-- Call to Action-->
                <div class="card text-white bg-secondary my-5 py-1 text-center">
                    <div class="card-body text-center">
                        <h6 class=" text-white m-0 h6">
                            【スポット登録】は地図で都道府県をクリック！！都道府県ごとのページに飛びます
                        </h6>
                    </div>
                </div>

            </div>
                        <div class="card mb-4">
                                    <%= render partial: 'show_plan' %>
                        </div>
                        <div class="card mb-4">

                            <%= render partial: 'show_record' %>

                       </div>

                    </div>
            </div>
        </div>
