<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-left">
            <div class="m-4 m-lg-5">
                <h1 class="display-6 fw-bold"><%= @prefecture.name%>のページ</h1>
                <%# <p class="fs-4"><%= @plan.start_date%>～
                <%# <%= @plan.end_date</p> %> %> %>
                <%# <h5 class="display-8 fw-bold">目的地：<%= @plan.destination%></h5> %>
                <%# <p class="fs-8">行きたい場所や旅の目的：<%= @plan.text%></p> %>
                <i class="fa-solid fa-pen-to-square"></i>
                <a class="btn btn-primary btn-lg" href="#!">編集する</a>
                <a class="btn btn-secondary btn-lg" href="#!">削除</a>
            </div>
        </div>
    </div>
</header>